<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Inventory</mat-toolbar>
    <mat-nav-list>
      <!-- Product Nav Item  -->
      <projects-nav-item
        path="product"
        label="Product"
        icon="inventory"
        [hasSub]="true"
      >
        <!-- Product Sub Nav Items -->
        <router-outlet name="crud-navitems"></router-outlet>
      </projects-nav-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <router-outlet name="toolbar"></router-outlet>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <footer>
      <a [routerLink]="['/']" routerLinkActive="router-link-active"
        >Home Page</a
      >
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
