.full-width-table {
  width: 100%;
}

td:first-child {
  width: 70px;
}
.search-input{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.search-key{
  /* width: 100px; */
}


