<router-outlet></router-outlet>

<!-- Templates -->

<!-- Basic form field template -->
<ng-template
  #formField
  let-label="label"
  let-type="type"
  let-icon="icon"
  let-required="required"
>
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input matInput [type]="type" [placeholder]="label" required="required" />
    <mat-icon matPrefix color="primary">{{ icon }}</mat-icon>
  </mat-form-field>
</ng-template>

<!-- Navigation Link -->
<ng-template #navLink let-label="label" let-href="href" let-id="id">
  <a [id]="id" [href]="href">{{ label }}</a>
</ng-template>
