<form [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label> ID </mat-label>
    <input matInput type="text" formControlName="id" autocomplete="off" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label> Name</mat-label>
    <input matInput type="text" formControlName="name" autocomplete="off" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label> Description</mat-label>
    <input
      matInput
      type="text"
      formControlName="description"
      autocomplete="off"
    />
  </mat-form-field>
</form>
