<p class="alert info" *ngIf="(products$ | async) === null">
  There is no selected products.
</p>
<ng-container *ngIf="products$ | async as products">
  <mat-tab-group>
    <mat-tab *ngFor="let p of products">
      <ng-template mat-tab-label>
        <button mat-icon-button (click)="close(p.id)">
          <mat-icon>close</mat-icon>
        </button>
        <span matLine> {{ p.name }}</span>
      </ng-template>

      <button mat-raised-button color="primary">Save Changes</button>
    </mat-tab>
  </mat-tab-group>
</ng-container>
