<mat-toolbar>
  <a mat-button (click)="goToInventoryApp()"> Inventory App </a>
</mat-toolbar>
<div class="website">
  <header>
    <nav>
      <a href="#about"> About</a>
      <a href="#prices">Prices</a>
      <a href="#training">Training</a>
      <div style="flex: 1"></div>
    </nav>
  </header>
  <body>
    <section>
      <h1>Inventory mangement application with all desired features!</h1>
    </section>
  </body>

  <div style="flex: 1"></div>
  <footer class="footer">
    <p>Authdare</p>
  </footer>
</div>
