.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.full-space {
  flex: 1;
}

.pad-x {
  padding: 20px;
}
.gap-x {
  gap: 20px;
}

.radius {
  border-radius: 20px;
}
nav {
  @extend .row;
  padding: 20px;
  gap: 20px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}
nav a:hover {
  text-decoration: underline;
}

fieldset {
  @extend .radius;
}

fieldset legend {
  @extend .pad-x;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  border-right: 3px solid gray;
  border-left: 3px solid gray;
  color: gray;
  letter-spacing: 3px;
}
