<!-- Navigation Link Template-->
<ng-template #navLink let-label="label" let-href="href" let-id="id">
  <a [id]="id" [href]="href">{{ label }}</a>
</ng-template>

<!-- Content -->
<div class="container">
  <nav>
    <ng-container *ngFor="let i of navItems">
      <ng-container *ngTemplateOutlet="navLink; context: i"></ng-container>
    </ng-container>
  </nav>

  <!-- Login Section -->
  <div class="content">
    <section>
      <form [formGroup]="loginForm" name="loginForm" ngNativeValidate>
        <fieldset class="col gap-x pad-x" autocomple="off">
          <legend>Login</legend>
          <ng-container *ngFor="let i of loginFields">
            <form-field [context]="i"> </form-field>
          </ng-container>

          <button
            type="submit"
            mat-raised-button
            color="primary"
            (click)="submit()"
            [disabled]="loginForm.untouched ? true : loginForm.invalid"
          >
            Login
          </button>
        </fieldset>
      </form>
    </section>
  </div>
</div>
