ion-grid {
  --ion-grid-column-padding: 10px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);

  ion-row:first-child {
    background-color: #cacaca;
    font-weight: bold;
  }

  ion-row:nth-child(odd):not(:first-child) {
    background-color: #e0e0e0;
  }

  ion-col:first-child {
    font-weight: bold;
  }
}
